//---------------------
// 	$COLORS
//---------------------

$black:        #0b0d0d;
$gray:         #414444;
$gray-light:   #e3e6e7;
$white:        #ffffff;

$blue: rgba(89, 103, 255, 1);
$green: rgba(70, 232, 117, 1);
$red: rgba(232, 70, 70, 1);
$yellow: rgba(255, 217, 76, 1);

// Form validation colors
$state-success: #468847;
$state-error:   #b94a48;
